/* importation de fonte 'popins' et miniver depuis google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');


/* fix the scroll */
html {
    scroll-behavior: smooth;
}   

/**style global **/

*{
    margin: 0;
    padding: 0;
}
body{
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header{
    background-color: black;
    height: 12vh;
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
    margin-top: -25px;
    
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
ul li a{
    color: white;
    text-decoration: none;
    
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}
.logo{
    width: 100px;
}
h2{
    color: white;
    font-family: Miniver, cursive;
    margin-right: 540px;
}
button{
    cursor: pointer;
    border: none;
    background: none;

}

/* style section */
.m1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background:url(assets/coffee-hero-bg.jpg);
    height: 100vh;
}
.s1 h1{
    font-size: 50px;
    max-width: 600px;
}
.s1{
    margin-top: 10px ;
    margin-right: 600px;
    color: white;

}
.s1 p{
    margin: 20px 0;
    font-size: 20px;
    max-width: 600px;
}
.s1 button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
.s1 button:hover{
    background-color: #C06B3E;
    color: white;
}


/* style section about */
.m2{
    background-color: black;
    height: 100vh;
}
.s2 {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    box-sizing: border-box;
}

.s2 h1 {
    color: white;
    font-size: 46px;
    margin-bottom: 30px; 
    text-align: center;
}

.div_about {
    display: flex;
    align-items: center;
    background-color: #13131a;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px; 
    width: 90%;     
    
}
.p_about{
    max-width: 500px;
    font-size: 18px;
    margin-right: 50px;
}
.img_about{
    width: 400px;
    margin-right: 50px;
}

.m2 .s2 .content h3{
    font-size: 24px;
    margin-bottom: 10px;
}
#i1, #i2, #i3{
    width: 30px;
    transition: 0.3s ease;
}

/* style table */
table{
    margin-top: 25px;
    margin-right: 20px;
}
tr{
    display: flex;
    margin-left: 45px;
}
td{
    padding: 0 10px;
}
td a img:hover{
    transform: scale(1.4);
}

/* style menu */

.menu{
    background-color: #13131a;
    padding: 60px 0;
    text-align: center;
    color: white;
    min-height: 100vh;
}
.m3 .menu img{
    width: 200px;
    margin: 0 20px;
    transition: 0.3s ease;
}

.menu h3 {
    font-size: 45px;
    margin-bottom: 40px;
    font-family: 'Miniver', cursive;
    color: #C06B3E;
}

.menu-table {
    margin: 0 auto;
    border-spacing: 25px; 
    table-layout: fixed;
    width: 95%;
    max-width: 1200px;
}

.coffee {
    background-color: black; 
    border: 1px solid #333;
    padding: 30px 20px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    height: 70%;
    width: 80%;
}

.coffee:hover {
    border-color: #C06B3E;
    transform: translateY(-8px);
}


.img_menu {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}
.price {
    display: block;
    font-size: 22px;
    color: #C06B3E;
    margin: 15px 0;
    font-weight: bold;
}

.btn {
    background-color: #C06B3E;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    color: black;
}


/* style galery */

.gallery {
    background-color: black;
    padding: 80px 0;
    text-align: center;
    color: white;
}

.gallery h3 {
    font-size: 60px; 
    margin-bottom: 50px;
    font-family: 'Miniver', cursive;
    color: #C06B3E;
}

.gallery-table {
    margin-left: 220px;  
    margin-right: auto; 
    border-spacing: 20px;
    width: 80%;
}

.gallery-table img {
    width: 100%;       
    height: 350px;     
    object-fit: cover; 
    border-radius: 20px;
    border: 1px solid #333;
    transition: 0.3s ease;
    margin-top: 20px;
}

.gallery-table img:hover {
    transform: scale(1.03);
    border-color: #C06B3E;
}

/* style contact */

.contact {
    background-color: #13131A;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.contact h3 {
    font-size: 45px;
    font-family: 'Miniver', cursive;
    color: #C06B3E;
    margin-bottom: 10px;
}

.ppp {
    margin-bottom: 40px;
    color: #bbb;
}

.div_contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left; 
}


.contact-info {
    flex: 1;
    background-color: #13131A;
    padding: 30px;
    border-radius: 15px;
    border-left: 5px solid #C06B3E;
    margin-top: 44px;
}

.contact-info h4 {
    color: #C06B3E;
    font-size: 24px;
    margin-bottom: 15px;
}

.contact-info p {
    line-height: 1.8;
    margin-bottom: 15px;
}


.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input, 
.form textarea,
.form .btn {
    width: 100%;
    padding: 15px;
    background-color: #13131A;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.form input:focus, 
.form textarea:focus {
    border-color: #C06B3E;
}



.button-group {
    display: flex;
    gap: 15px; 
    width: 100%;
}


.button-group .btn {
    flex: 1; 
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}


.button-group [type="submit"] {
    background-color: #C06B3E;
    color: white;
}


.reset-btn {
    background-color: #444;
    color: white;
}

.button-group [type="submit"]:hover {
    background-color: #d17a4a;
}

.reset-btn:hover {
    background-color: #444;
    color: #ff4d4d; 
}

/* Style for the datalist */
.coffee-input {
    width: 100%;
    padding: 15px;
    background-color: #13131A;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.coffee-input:focus {
    border-color: #C06B3E; 
}


datalist {
    background-color: #13131A;
    color: white;
}

/* style footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}


/* --- Rsponsive design --- */

@media (max-width: 1024px) {
    .div_about, .div_contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img_about {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
    }

    .p_about {
        margin-right: 0;
    }

    .gallery-table {
        margin-left: auto;
        width: 95%;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    h2 {
        margin-right: 0; 
    }

    ul {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul li a {
        padding: 5px 10px;
        font-size: 14px;
    }

    .s1 h1 {
        font-size: 32px;
    }

    .s1 {
        margin-right: 0;
        text-align: center;
    }
    .m3{
        margin-top: 40px;
    }
    
    .menu-table tr, .gallery-table tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-top: 20px;
    }

    .coffee {
        width: 100%;
        margin-bottom: 20px;
    }

    .button-group {
        flex-direction: column; 
    }
}